<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>캡스톤 1조</title>

    <style>
        .navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px; /* 원하는 높이로 설정 */
}
        </style>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" href="assets/css/chatbot.css">
    <link rel="stylesheet" href="assets/css/animation.css">
    <link rel="stylesheet" href="assets/css/design.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

    <!-- JavaScript -->
    <script src="assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>
    <!-- Your body content here -->

    <!-- Topmenu -->
    <nav class="navbar navbar-default bootsnav navbar-fixed">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/" style="display: flex; align-items: center; height: 100%;">
                            <img src="assets/images/Ztect.png" class="logo" alt="">
                            <!--<img src="assets/images/footer-logo.png" class="logo logo-scrolled" alt="">-->
                        </a>
            </div>
            <!-- End Header Navigation -->

            <!-- navbar menu -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
                    <!-- Add your menu items here -->
                    <li><a href="/home.do">Home</a></li>
                    <li><a href="https://www.consumer.go.kr/user/bbs/consumer/261/731/bbsDataView/2733.do?page=9&column=&search=&searchSDate=&searchEDate=&bbsDataCategory=">졸음운전 예방법</a></li>
                    <li><a href="https://www.kics.go.kr/">벌금 조회</a></li>
                    <li><a href="/noticeDetail.do">공지사항</a></li>
                    <li><a href="/login.do">로그인</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>

    <!-- Chatbot Button -->
    <div class="chatbot_btn fix_btn"><i class="fas fa-robot"></i></div>

    <!-- JS includes -->
    <script src="assets/js/vendor/jquery-1.11.2.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/bootsnav.js"></script>
    <script src="assets/js/fnc.js"></script>
</body>
</html>

